<div class="card" style="width: 100%;">
    <a href="https://chop-ton-job.web.app"><img class="card-img-top" src="/assets/img/bathroom-test.jpeg"
            alt="Card image cap"></a>
    <div class="card-body">
        <p class="card-title bold">Salle de bain design : moderne et fonctionnelle</p>
        <p class="card-title">Vous rêvez d’une salle de bains design ? Dans ce cas, vous êtes prêts à bouleverser les codes et à envisager l’espace autrement. Formes des meubles, disposition...</p>
    </div>
</div>