<div *ngFor="let post of blogPost" class="card" style="width: 100%;">
    <a href="{{ post.url }}">
    <img class="card-img-top" src="{{ imageUrl + post.image }}" alt="Card image cap">
    <div class="card-body">
        <p class="card-title bold" title="{{ post.title }}">{{ (post.title.length > 69) ? (post.title |
            slice:0:69)+'...': (post.title) }}</p>
        <p class="card-title">{{ (post.description.length > 110) ? (post.description | slice:0:110)+'...':
            (post.description) }}</p>
    </div>
    </a>
</div>