.card {
    margin-right: 20px;
    box-shadow: rgb(233, 233, 233) 1px 10px 10px
}

.card-img-top {
    padding: 15px 15px 0 15px;
    border-radius: 5px;
}

.bold {
    font-weight: 700;
    font-size: 1.3rem;
}

.card-title {
    word-break: break-all;
}