<div class="d-flex">
    <div *ngFor="let product of products" class="card">
        <a href="{{ product.url }}">
            <img class="card-img-top" src="{{ imageUrl + product.image }}" alt="{{ product.title }}">
            <div class="card-body">
                <p class="card-title" title="{{ product.title }}">{{ (product.title.length > 42) ? (product.title |
                    slice:0:42)+'...': (product.title) }}</p>
                <p class="card-title bold">{{ product.price }}€</p>
            </div>
        </a>
    </div>
</div>