<div class="container">
  <div class="row mt-3">
    <a routerLink="/resultats">
      < Revenir à votre projet </a>
  </div>
</div>

<div class="container description mt-5 mb-5">
  <p>
    <span class="text">Projet réalisé par :</span> {{ project.user.firstName }} <br />
    <span class="text">Date de réalisation :</span> {{ project.createdAt | date : "dd/MM/YYYY" }} <br />
    <span class="text">Budget :</span> {{ project.budget }}€ <br />
    <span class="text">Conseillé par : </span><span *ngFor="let professional of project.professionals">{{
      professional.name }} | </span>
  </p>
</div>

<div class="container">
  <div class="slider mt-3 mb-4">
    <div *ngFor="let image of project.images">
      <div class="card">
        <img class="card-img-top" src="{{ imageUrl + image.name }}"
          alt="Image du projet de {{ project.user.firstName }}">
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-4">
  <h1>Produits utilisés par {{ project.user.firstName }}</h1>
</div>

<div class="container mb-6">
  <div *ngFor="let product of project.productProjectCategory">
    <div class="card product mb-4">
      <a href="{{ product.product.url }}">
        <img class="card-img-top product-img" src="{{ imageUrl + product.product.image }}"
          alt="{{ product.product.title }}">
        <div class="card-body">
          <p class="card-title" title="{{ product.product.title }}">{{ (product.product.title.length > 42) ?
            (product.product.title |
            slice:0:42)+'...': (product.product.title) }}</p>
          <p class="card-title bold">{{ product.product.price }}€</p>
        </div>
      </a>
    </div>
  </div>
</div>