<div class="container">
  <div class="row">
    <a class="backLink" routerlink="/"> < Revenir à votre projet </a>
  </div>

  <div class="row description">
    <p>
      Projet réalisé par : Adam <br />
      Date de réalisation : 10/01/22 <br />
      Budget : ~4200€
    </p>
  </div>
  <div class="row professionals">
    <p>Conseillé par : <strong>Paint&Go, Tile&Go </strong></p>
  </div>
  <div class="row">
    <img src="./assets/img/bathroom-test.jpeg" alt="project picture" />
  </div>
  <div class="row">
    <h3><strong>Produits utilisés par Adam </strong></h3>
  </div>

  <div class="row " >
  <span class="product"> <app-product-overview></app-product-overview> </span>
  </div>
</div>
