h3{
    margin: 30px 10px;
}
.description {
    margin: 20px 20px 0 20px;
    font-size: 12px;
   }
.professionals{
    font-size: 12px;
    margin-left: 20px;
}

.product {
    display: block;
    margin-left: 40px;   
}

.backLink{
    margin-top: 10px;
}