h1 {
  font-weight: 700;
  font-size: 1.2rem;
}

.text {
  color: #253b82;
  font-weight: 500;
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.card {
  margin-right: 20px;
  box-shadow: rgb(233, 233, 233) 1px 10px 10px;
}

.card-img-top {
  border-radius: 5px;
  width: 20rem;
  height: 250px;
}

.container {
  padding: 0 20px;
}

.separator:last-child {
  display: none;
}

.product {
  width: 100%;
}

.product-img {
  width: 100%;
}

.bold {
  font-weight: 700;
  font-size: 1.3rem;
}
