h1 {
  color: #253b82;
  font-weight: 600;
  font-size: 1.2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

.container {
  padding: 0 20px;
}

.new-search-btn {
  width: 120px;
  height: 35px;
  background-color: #253b82;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.text {
  margin: auto;
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
