<div class="container">
  <div class="row  title">
    <h1>Paint&Go</h1>
    <br />
    <p>Activité : peintre</p>
  </div>
  <div class="row">
      <img class="professionalPicture" src="./assets/img/paintAndGo.png" alt="professional's picture">
  </div>
  <div class="row description">
      <p >
        Pour tous vos besoins en peinture : salon, chambre, salle de bain... Vous pouvez nous contacter et nous vous apporterons nos conseils pour réaliser au mieux votre projet.
      </p>
    <button type="submit"> Contacter </button>
  </div>
</div>
