<div class="container">
    <form (ngSubmit)="searchForm.valid && onSubmit()" #searchForm="ngForm">
        <div class="row">
            <p class="title"> Parlez-nous de votre projet</p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Que voulez-vous faire ?</mat-label>
                <input type="text" placeholder="En quoi consiste votre projet ?" aria-label="Number" matInput
                    [formControl]="categoryControl" [matAutocomplete]="auto" required>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{category.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="row">
            <p class="title">Définissez votre budget</p>
            <div class="form-floating d-flex align-items-center mb-3">
                <div class="form-floating min">
                    <input type="number" [formControl]="minControl" class="form-control" id="floatingMin" placeholder="1000" min="0">
                    <label for="floatingMin">De</label>
                </div>
                <div class="form-floating">
                    <input type="number" [formControl]="maxControl" class="form-control" id="floatingMax" placeholder="2500" min="0">
                    <label for="floatingMax">A</label>
                </div>
            </div>
        </div>

        <div class="btn-container d-flex justify-content-center mt-3">
            <button type="submit" class="submitBtn">
                C'est parti !
            </button>
        </div>

    </form>
</div>