body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-width: 360px;
}

p,
a,
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
