<div class="container">
    <div class="row mt-4">
        <h1 class="mb-3">Votre projet</h1>
        <p>Parce qu'être accompagné pour bien démarrer son projet est essentiel, ManoMano vous propose des guides, des
            conseils et des produits pour vous lancer sereinement.</p>
    </div>
</div>

<div class="form-container mt-3 mb-5">
    <app-search-form></app-search-form>
</div>

<div class="container">
    <div class="row mt-3">
        <h2>Derniers projets réalisés</h2>
        <div class="slider mt-3 mb-4">
            <app-project-overview></app-project-overview>
            <app-project-overview></app-project-overview>
            <app-project-overview></app-project-overview>
            <app-project-overview></app-project-overview>
            <app-project-overview></app-project-overview>
        </div>
    </div>
</div>