<div class="container">
    <div class="row mt-4">
        <h1 class="mb-3">Partager votre projet</h1>
        <p>Vous venez de finaliser un projet dont vous êtes fièr(e) ? Partagez-le avec notre communauté !</p>
    </div>

    <form [formGroup]="projectForm">
        <div class="row">
            <div class=" d-flex align-items-center mb-3">
                <select formControlName="countryControl" id="categorySelect">
                    <option  formControlName="category">Choisissez une catégorie</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class=" d-flex align-items-center mb-3">
                <select formControlName="countryControl" id="categorySelect">
                    <option  formControlName="category">Choisissez une catégorie</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class=" d-flex align-items-center mb-3">
                <select formControlName="countryControl" id="categorySelect">
                    <option  formControlName="category">Choisissez une catégorie</option>
                </select>
            </div>
        </div>


        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
        
    </form>
</div>